.catalog{
    margin: 0px auto;
    box-sizing: content-box;
    width: 1200px;
    padding-top: 70px;
}
.catalogCon{
    background-color: #1f2024;
    display: flex;
    display: inline-block; 
    flex-direction: column;
    padding-bottom: 20px;
}
.catalogtitle{
    display: inline-block; 
    justify-content: space-between;
    background-color: #292a2c;
    margin: 10px;
    border-radius: 10px;  
}
.catalogImg{
    border-radius: 10px;
    height: 275px;
    width: 200px;
}
.Catalog1{
    background-color: #1f2024;
    text-align: center;
    font-size: 32px;
    padding: 30px;
}
.text{
    width: 200px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: pre;
}